*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-family: cursive;
    color: black;
    margin-bottom: 15%;
}
.row{
    width: 100%;
    padding: 10px;
}

#chicken{
    height: 30px;
    width: 70px;
    background-color: violet;
    border: 1px black solid;
    text-align: center;
    font-family: cursive;
    padding: 5px;
    margin-bottom: 10px;
    float: right;
}
#beef{
    height: 30px;
    width: 70px;
    background-color: red;
    border: 1px black solid;
    text-align: center;
    color: white;
    font-family: cursive;
    padding: 5px;
    margin-bottom: 10px;
    float: right;
}
#sushi{
    height: 30px;
    width: 70px;
    background-color: lightgoldenrodyellow;
    border: 1px black solid;
    text-align: center;
    font-family: cursive;
    padding: 5px;
    margin-bottom: 10px;
    float: right;
}
section{
    height: 150px;
    width: 90%;
    background-color: gray;
    font-family: cursive;
    font-size: small;
    font-weight: bold;
    overflow: auto;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    border: 1px black solid;
}

section>div{
    text-align:left; 
    padding: 10px;
    margin-top: 20px;  
}
@media (min-width: 992px){
    .desktop{
        float: left;
        width: 33.33%;
    }
}
@media (min-width:768px) and (max-width: 991px){
    .tablet, .tb-2, .tb-1{
        float: left;
    }
    .tb-2{
        width: 50%;
    }
    .tb-1{
        width: 100%;
    }
}
@media (max-width: 767px){
    .mobile{
        float: left;
        width: 100%;
    }
}

